<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  td, th {
  	text-align: center;
  }
</style>
<body>
  <table border=1>
    <tr>
	<th> 날짜 </th>
	<th> 층  </th>
	<th> 주차 수 </th>
	<th> 총 가능 수  </th>
  <% for(let i=data.length-16; i < data.length ; i++){ %>
    <tr>
    	<td> <%= data[i].datetm %> </td>
    	<td> <%= data[i].floor %> </td>
    	<td> <%= data[i].parking %> </td>
    	<td> <%= data[i].parkingarea %> </td>
    </tr>
  <% } %>
  </table>

</body>
</html>
